[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
python-dotenv = "*"
pydantic = "*"
setuptools = "*"
manim-voiceover = {extras = ["gtts"], version = "*"}
python-multipart = "0.0.12"
uvicorn = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3"
